<!-- @format -->

{% extends "bassiii.html" %} {% block set %} this is recipes me pGEE HEHE
<div class="container mt-5">
  <form class="col-6 mx-auto card p-5 shadow-lg" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>Add your recipes</h2>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Recipe Name</label>
      <input type="text" class="form-control" name="recipe_name" required />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"
        >Recipe Description</label
      >
      <textarea class="form-control" name="recipe_description" required id=""></textarea>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Recipe Image</label>
      <input type="file" class="form-control" name="recipe_image" />
    </div>
    <button type="submit" class="btn btn-success">ADD RECIPE</button>
  </form>
</div>
{% endblock %}
